---
# tasks file for bareos_fd

- name: Include OS-specific vars
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts.distribution }}_{{ ansible_facts.distribution_major_version }}.yml"
    - "{{ ansible_facts.os_family }}.yml"

- name: Import assert.yml
  ansible.builtin.import_tasks:
    file: assert.yml
  run_once: true
  delegate_to: localhost

- name: Install packages
  ansible.builtin.package:
    name: bareos-filedaemon
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install debug packages
  ansible.builtin.package:
    name: "{{ bareos_fd_debug_packages }}"
  when:
    - bareos_fd_install_debug_packages
  ignore_errors: "{{ ansible_check_mode }}"

- name: Place myself.conf
  ansible.builtin.template:
    src: myself.conf.j2
    dest: "/etc/bareos/bareos-fd.d/client/myself.conf"
    owner: bareos
    group: bareos
    mode: "0640"
    backup: "{{ bareos_fd_backup_configurations }}"
  notify:
    - Check configuration
    - Restart bareos-filedaemon

- name: Place director
  ansible.builtin.template:
    src: director.conf.j2
    dest: "/etc/bareos/bareos-fd.d/director/{{ item.name }}.conf"
    owner: bareos
    group: bareos
    mode: "0640"
    backup: "{{ bareos_fd_backup_configurations }}"
  loop: "{{ bareos_fd_directors }}"
  loop_control:
    label: "{{ item.name }}"
  notify:
    - Check configuration
    - Restart bareos-filedaemon

- name: Place message
  ansible.builtin.template:
    src: message.conf.j2
    dest: "/etc/bareos/bareos-fd.d/messages/{{ item.name }}.conf"
    owner: bareos
    group: bareos
    mode: "0640"
    backup: "{{ bareos_fd_backup_configurations }}"
  loop: "{{ bareos_fd_messages }}"
  loop_control:
    label: "{{ item.name }}"
  notify:
    - Check configuration
    - Restart bareos-filedaemon

- name: Import encryption tasks
  ansible.builtin.import_tasks:
    file: encryption.yml
  when:
    - bareos_fd_encryption_enabled

- name: Import plugin tasks
  ansible.builtin.import_tasks:
    file: plugins.yml
  when:
    - bareos_fd_plugins is defined
    - bareos_fd_plugins is iterable

- name: Import postgresql plugin tasks
  ansible.builtin.import_tasks:
    file: plugins_postgresql.yml
  when:
    - bareos_fd_plugins is defined
    - bareos_fd_plugins is iterable
    - '"postgresql" in bareos_fd_plugins'

- name: Import ldap plugin tasks
  ansible.builtin.import_tasks:
    file: plugins_ldap.yml
  when:
    - bareos_fd_plugins is defined
    - bareos_fd_plugins is iterable
    - '"ldap" in bareos_fd_plugins'
    - bareos_fd_plugin_ldap_uri is defined
    - bareos_fd_plugin_ldap_base_dn is defined
    - bareos_fd_plugin_ldap_bind_dn is defined
    - bareos_fd_plugin_ldap_password is defined

- name: Start bareos-filedaemon
  ansible.builtin.service:
    name: "{{ bareos_fd_service }}"
    state: started
    enabled: true
  ignore_errors: "{{ ansible_check_mode }}"
