{{ ansible_managed | comment }}
The directory containing this file will be ignored and not backed up.

Please make sure that your FileSets on the Bareos Director have the option "Exclude Dir Containing" set according to
https://docs.bareos.org/Configuration/Director.html#config-Dir_Fileset_Include_ExcludeDirContaining
