---

name: Ansible Molecule

on:
  push:
    tags_ignore:
      - '*'
  pull_request:
  schedule:
    - cron: '3 2 2 * *'

jobs:

  test:
    uses: adfinis/github-workflows-bareos/.github/workflows/molecule.yaml@v0.8.0

  test_postgresql:
    runs-on: ubuntu-22.04  # ubuntu latest will for all RHEL-based distros: https://github.com/rocky-linux/sig-cloud-instance-images/issues/56
    container:
      image: python:3.9
    strategy:
      fail-fast: false
      matrix:
        # rockylinux 10 and fedora 43 are not yet supported by the geerlingguy.postgresql role. tested 2026-01-15
        config:
          - image: "debian12"
          - image: "debian13"
          - image: "fedora42"
          - image: "ubuntu2204"
          - image: "ubuntu2404"
          - image: "rockylinux9"
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          path: "${{ github.repository }}"

      - name: molecule postgresql plugin scenario
        uses: gofrolist/molecule-action@v2
        with:
          molecule_command: test
          molecule_args: "--scenario-name postgresql"
        env:
          image: ${{ matrix.config.image }}
